[Unit]
Description=A High Performance, Kubernetes Native Object Storage
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINAL_PATH__/
EnvironmentFile=__FINAL_PATH__/.env
ExecStart=__FINALPATH__/minio server $MINIO_OPTS $MINIO_VOLUMES
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
